<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let user of users" (click)="viewUserDetails(user.id)">
            <div class="card">
                <img [src]="user.avatar" alt="{{user.first_name}}"
                    class="card-img-top img-fluid rounded-circle mx-auto d-block" style="width: 150px; height: 150px;">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between mt-4">
        <button class="btn btn-secondary" (click)="previousPage()">Previous</button>
        <button class="btn btn-secondary" (click)="nextPage()">Next</button>
    </div>
</div>